/* IMPORTS */
@import "variables.scss";
@import "reset.scss";

/** VERSION: PC **/

#pc-wrap {
  width: 100%;
  height: 100%;

  .container {
    position: relative;
    display: flex;
    width: 1300px;
    margin: 0 auto;
    background: rgb(16, 188, 236);
  }
}
