#pc-wrap {
  .home-page {
    position: relative;
    width: 100;
    height: auto;

    .trend-properties {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 697px;
      padding: 108px 0px 76px;

      .container {
        flex-direction: column;

        .info-box {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;

          .left {
            display: flex;
            flex-direction: column;

            span {
              font-family: $font;
              font-size: 34px;
              font-weight: 500;
              font-style: normal;
              line-height: 150%;
              letter-spacing: -0.646px;
              text-transform: capitalize;
              color: #181a20;

              &.white {
                color: #ffffff;
              }
            }

            p {
              font-family: $font;
              font-size: 14px;
              font-weight: 400;
              font-style: normal;
              line-height: 26px;
              color: #181a20;

              &.white {
                color: #ffffff;
              }
            }
          }

          .right {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .pagination-box {
              display: flex;
              flex-direction: row;
              align-items: center;

              .swiper-pagination-bullet.swiper-pagination-bullet-active {
                background: #000000;
              }

              .swiper-trend-next {
                margin-left: 20px;
                cursor: pointer;
              }

              .swiper-trend-prev {
                margin-right: 20px;
                cursor: pointer;
              }

              .swiper-top-next {
                margin-left: 20px;
                cursor: pointer;
              }

              .swiper-top-prev {
                margin-right: 20px;
                cursor: pointer;
              }
            }

            .more-box {
              display: flex;
              flex-direction: row;
              align-items: center;
              cursor: pointer;

              span {
                font-family: $font;
                font-size: 15px;
                font-weight: 600;
                font-style: normal;
                line-height: normal;
                text-transform: capitalize;
                color: #181a20;
              }

              img {
                width: 16px;
                height: 16px;
                margin-left: 10px;
              }
            }

            .btn-box {
              display: flex;
              flex-direction: row;

              button {
                border-radius: 6px;
                font-family: $font;
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                line-height: 28px;
                text-transform: capitalize;
                color: #ffffff;
                background: rgba(255, 255, 255, 0.07);

                &.first-child {
                  margin-right: 20px;
                }

                &.active {
                  border: 1px solid #181a20;
                  font-family: $font;
                  font-size: 14px;
                  font-weight: 500;
                  font-style: normal;
                  line-height: 28px;
                  color: #181a20;
                  background: #fff;
                }
              }
            }
          }
        }

        .card-box {
          position: relative;
          display: flex;
          flex-direction: row;
          margin-top: 64px;

          .empty-list {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 280px;
          }

          .trend-property-swiper {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 400px;

            .trend-property-slide {
              display: flex;
              width: auto;
              height: auto;
              margin: 10px 0 0 10px;
            }
          }

          .trend-card-box {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 375px;
            transition: transform 0.3s;

            &:hover {
              opacity: 1;
              transform: scale(1.05);
            }

            .card-img {
              position: relative;
              width: 100%;
              height: 203px;
              border-radius: 12px 12px 0px 0px;
              background-size: cover;
              cursor: pointer;

              div {
                position: absolute;
                bottom: 12px;
                left: 12px;
                padding: 8px 12px;
                border-radius: 6px;
                font-family: $font;
                font-size: 15px;
                font-weight: 600;
                font-style: normal;
                line-height: normal;
                color: #181a20;
                background: #fff;
              }
            }

            .info {
              display: flex;
              flex-direction: column;
              box-sizing: border-box;
              padding: 20px 22px 17px;
              border: 1px solid rgba(196, 196, 196, 0.71);
              border-top: none;
              border-radius: 0px 0px 12px 12px;
              background: #fff;
              box-shadow: 0px 1px 4px 0px rgba(24, 26, 31, 0.07);

              .title {
                overflow: hidden;
                font-family: $font;
                font-size: 15px;
                font-weight: 600;
                font-style: normal;
                line-height: normal;
                text-transform: capitalize;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #181a20;
                cursor: pointer;
              }

              .desc {
                overflow: hidden;
                margin-top: 5px;
                font-family: $font;
                font-size: 13px;
                font-weight: 400;
                font-style: normal;
                line-height: normal;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #717171;
              }

              div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                img {
                  width: 17px;
                  height: 17px;
                  margin-right: 5px;
                }

                span {
                  font-family: $font;
                  font-size: 13px;
                  font-weight: 400;
                  font-style: normal;
                  line-height: normal;
                  color: #181a20;
                }
              }

              .bott {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                p {
                  font-family: $font;
                  font-size: 13px;
                  font-weight: 400;
                  font-style: normal;
                  line-height: normal;
                  text-transform: capitalize;
                  color: #181a20;
                }

                button {
                  box-sizing: border-box;
                  width: 16px;
                  height: 16px;
                  margin-left: 7px;
                }

                .view-like-box {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 7px;

                  .view-cnt {
                    font-family: $font;
                    font-size: 13px;
                    font-weight: 400;
                    font-style: normal;
                    line-height: normal;
                    text-overflow: ellipsis;
                    color: #717171;
                  }
                }
              }
            }
          }
        }
      }
    }

    .popular-properties {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 816px;
      padding: 132px 0px 94px;
      background: #f6f6f6;

      .container {
        flex-direction: column;
        align-items: center;

        .info-box {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;

          .left {
            display: flex;
            flex-direction: column;

            span {
              font-family: $font;
              font-size: 34px;
              font-weight: 500;
              font-style: normal;
              line-height: 150%;
              letter-spacing: -0.646px;
              text-transform: capitalize;
              color: #181a20;

              &.white {
                color: #ffffff;
              }
            }

            p {
              font-family: $font;
              font-size: 14px;
              font-weight: 400;
              font-style: normal;
              line-height: 26px;
              color: #181a20;

              &.white {
                color: #ffffff;
              }
            }
          }

          .right {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .pagination-box {
              display: flex;
              flex-direction: row;
              align-items: center;

              .swiper-pagination-bullet.swiper-pagination-bullet-active {
                background: #000000;
              }

              .swiper-trend-next {
                margin-left: 20px;
                cursor: pointer;
              }

              .swiper-trend-prev {
                margin-right: 20px;
                cursor: pointer;
              }

              .swiper-top-next {
                margin-left: 20px;
                cursor: pointer;
              }

              .swiper-top-prev {
                margin-right: 20px;
                cursor: pointer;
              }
            }

            .more-box {
              display: flex;
              flex-direction: row;
              align-items: center;
              cursor: pointer;

              span {
                font-family: $font;
                font-size: 15px;
                font-weight: 600;
                font-style: normal;
                line-height: normal;
                text-transform: capitalize;
                color: #181a20;
              }

              img {
                width: 16px;
                height: 16px;
                margin-left: 10px;
              }
            }

            .btn-box {
              display: flex;
              flex-direction: row;

              button {
                border-radius: 6px;
                font-family: $font;
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                line-height: 28px;
                text-transform: capitalize;
                color: #ffffff;
                background: rgba(255, 255, 255, 0.07);

                &:first-child {
                  margin-right: 20px;
                }

                &.active {
                  border: 1px solid #181a20;
                  font-family: $font;
                  font-size: 14px;
                  font-weight: 500;
                  font-style: normal;
                  line-height: 28px;
                  color: #181a20;
                  background: #fff;
                }
              }
            }
          }
        }

        .card-box {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          height: auto;
          margin-top: 34px;

          .popular-property-swiper {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 452px;

            .popular-property-slide {
              display: flex;
              width: auto;
              height: auto;
              margin: 10px 0px 10px 10px;
            }
          }

          .popular-card-box {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 400px;
            height: 452px;
            transition:
              transform 0.3s,
              opacity 0.3s;

            &:hover {
              opacity: 1;
              transform: scale(1.05);
            }

            .card-img {
              position: relative;
              width: 100%;
              height: 203px;
              border-radius: 12px 12px 0px 0px;
              background-size: cover;
              cursor: pointer;

              div.status {
                position: absolute;
                top: 20px;
                left: 20px;
                display: flex;
                align-items: center;
                padding: 6px 34px;
                border-radius: 6px;
                background: #eb6753;

                img {
                  width: 14px;
                  height: 14px;
                }

                span {
                  margin-left: 5px;
                  font-family: $font;
                  font-size: 12px;
                  font-weight: 600;
                  font-style: normal;
                  line-height: normal;
                  text-transform: uppercase;
                  color: #fff;
                }
              }

              div.price {
                position: absolute;
                bottom: 20px;
                left: 20px;
                padding: 8px 12px;
                border-radius: 6px;
                font-family: $font;
                font-size: 15px;
                font-weight: 600;
                font-style: normal;
                line-height: normal;
                color: #181a20;
                background: #fff;
              }
            }

            .info {
              display: flex;
              flex-direction: column;
              box-sizing: border-box;
              padding: 20px 22px 17px;
              border: 1px solid rgba(196, 196, 196, 0.71);
              border-top: none;
              border-radius: 0px 0px 12px 12px;
              background: #fff;
              box-shadow: 0px 1px 4px 0px rgba(24, 26, 31, 0.07);

              .title {
                overflow: hidden;
                font-family: $font;
                font-size: 15px;
                font-weight: 600;
                font-style: normal;
                line-height: normal;
                text-transform: capitalize;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #181a20;
                cursor: pointer;
              }

              .desc {
                overflow: hidden;
                margin-top: 5px;
                font-family: $font;
                font-size: 13px;
                font-weight: 400;
                font-style: normal;
                line-height: normal;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #717171;
              }

              .options {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 15px;

                div {
                  display: flex;
                  flex-direction: row;

                  img {
                    width: 17px;
                    height: 17px;
                    margin-right: 5px;
                  }

                  span {
                    font-family: $font;
                    font-size: 13px;
                    font-weight: 400;
                    font-style: normal;
                    line-height: normal;
                    color: #181a20;
                  }
                }
              }

              .bott {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                p {
                  font-family: $font;
                  font-size: 13px;
                  font-weight: 500;
                  font-style: normal;
                  line-height: normal;
                  text-transform: capitalize;
                  color: #181a20;
                }

                button {
                  box-sizing: border-box;
                  width: 16px;
                  height: 16px;
                  margin-left: 7px;
                }

                .view-like-box {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 7px;

                  .view-cnt {
                    font-family: $font;
                    font-size: 13px;
                    font-weight: 400;
                    font-style: normal;
                    line-height: normal;
                    text-overflow: ellipsis;
                    color: #717171;
                  }
                }
              }
            }
          }
        }

        .pagination-box {
          display: flex;
          flex-direction: row;
          align-items: center;

          .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background: #000000;
          }

          .swiper-trend-next {
            margin-left: 20px;
            cursor: pointer;
          }

          .swiper-trend-prev {
            margin-right: 20px;
            cursor: pointer;
          }

          .swiper-top-next {
            margin-left: 20px;
            cursor: pointer;
          }

          .swiper-top-prev {
            margin-right: 20px;
            cursor: pointer;
          }
        }
      }
    }

    .video-frame {
      width: 100%;
      height: 678px;
      background: black;
      box-shadow: -3px 0px 20px 14px #34343480;
      transform: perspective(0px);
    }

    .top-properties {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 697px;
      padding: 108px 0px 76px;

      .container {
        flex-direction: column;

        .info-box {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;

          .left {
            display: flex;
            flex-direction: column;

            span {
              font-family: $font;
              font-size: 34px;
              font-weight: 500;
              font-style: normal;
              line-height: 150%;
              letter-spacing: -0.646px;
              text-transform: capitalize;
              color: #181a20;

              &.white {
                color: #ffffff;
              }
            }

            p {
              font-family: $font;
              font-size: 14px;
              font-weight: 400;
              font-style: normal;
              line-height: 26px;
              color: #181a20;

              &.white {
                color: #ffffff;
              }
            }
          }

          .right {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .pagination-box {
              display: flex;
              flex-direction: row;
              align-items: center;

              .swiper-pagination-bullet.swiper-pagination-bullet-active {
                background: #000000;
              }

              .swiper-top-next {
                margin-left: 20px;
                cursor: pointer;
              }

              .swiper-top-prev {
                margin-right: 20px;
                cursor: pointer;
              }

              .swiper-top-next {
                margin-left: 20px;
                cursor: pointer;
              }

              .swiper-top-prev {
                margin-right: 20px;
                cursor: pointer;
              }
            }

            .more-box {
              display: flex;
              flex-direction: row;
              align-items: center;
              cursor: pointer;

              span {
                font-family: $font;
                font-size: 15px;
                font-weight: 600;
                font-style: normal;
                line-height: normal;
                text-transform: capitalize;
                color: #181a20;
              }

              img {
                width: 16px;
                height: 16px;
                margin-left: 10px;
              }
            }

            .btn-box {
              display: flex;
              flex-direction: row;

              button {
                border-radius: 6px;
                font-family: $font;
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                line-height: 28px;
                text-transform: capitalize;
                color: #ffffff;
                background: rgba(255, 255, 255, 0.07);

                &.first-child {
                  margin-right: 20px;
                }

                &.active {
                  border: 1px solid #181a20;
                  font-family: $font;
                  font-size: 14px;
                  font-weight: 500;
                  font-style: normal;
                  line-height: 28px;
                  color: #181a20;
                  background: #fff;
                }
              }
            }
          }
        }

        .card-box {
          position: relative;
          display: flex;
          flex-direction: row;
          margin-top: 64px;

          .empty-list {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 280px;
          }

          .top-property-swiper {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 400px;

            .top-property-slide {
              display: flex;
              width: auto;
              height: auto;
              margin: 10px 0 0 10px;
            }
          }

          .top-card-box {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 375px;
            transition: transform 0.3s;

            &:hover {
              opacity: 1;
              transform: scale(1.05);
            }

            .card-img {
              position: relative;
              width: 100%;
              height: 203px;
              border-radius: 12px 12px 0px 0px;
              background-size: cover;
              cursor: pointer;

              div {
                position: absolute;
                bottom: 12px;
                left: 12px;
                padding: 8px 12px;
                border-radius: 6px;
                font-family: $font;
                font-size: 15px;
                font-weight: 600;
                font-style: normal;
                line-height: normal;
                color: #181a20;
                background: #fff;
              }
            }

            .info {
              display: flex;
              flex-direction: column;
              box-sizing: border-box;
              padding: 20px 22px 17px;
              border: 1px solid rgba(196, 196, 196, 0.71);
              border-top: none;
              border-radius: 0px 0px 12px 12px;
              background: #fff;
              box-shadow: 0px 1px 4px 0px rgba(24, 26, 31, 0.07);

              .title {
                overflow: hidden;
                font-family: $font;
                font-size: 15px;
                font-weight: 600;
                font-style: normal;
                line-height: normal;
                text-transform: capitalize;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #181a20;
                cursor: pointer;
              }

              .desc {
                overflow: hidden;
                margin-top: 5px;
                font-family: $font;
                font-size: 13px;
                font-weight: 400;
                font-style: normal;
                line-height: normal;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #717171;
              }

              div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                img {
                  width: 17px;
                  height: 17px;
                  margin-right: 5px;
                }

                span {
                  font-family: $font;
                  font-size: 13px;
                  font-weight: 400;
                  font-style: normal;
                  line-height: normal;
                  color: #181a20;
                }
              }

              .bott {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                p {
                  font-family: $font;
                  font-size: 13px;
                  font-weight: 400;
                  font-style: normal;
                  line-height: normal;
                  text-transform: capitalize;
                  color: #181a20;
                }

                button {
                  box-sizing: border-box;
                  width: 16px;
                  height: 16px;
                  margin-left: 7px;
                }

                .view-like-box {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 7px;

                  .view-cnt {
                    font-family: $font;
                    font-size: 13px;
                    font-weight: 400;
                    font-style: normal;
                    line-height: normal;
                    text-overflow: ellipsis;
                    color: #717171;
                  }
                }
              }
            }
          }
        }
      }
    }

    .top-agents {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 722px;
      padding: 153px 0px 135px;
      background: #f6f6f6;

      .container {
        position: relative;
        flex-direction: column;
        align-items: center;

        .info-box {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;

          .left {
            display: flex;
            flex-direction: column;

            span {
              font-family: $font;
              font-size: 34px;
              font-weight: 500;
              font-style: normal;
              line-height: 150%;
              letter-spacing: -0.646px;
              text-transform: capitalize;
              color: #181a20;

              &.white {
                color: #ffffff;
              }
            }

            p {
              font-family: $font;
              font-size: 14px;
              font-weight: 400;
              font-style: normal;
              line-height: 26px;
              color: #181a20;

              &.white {
                color: #ffffff;
              }
            }
          }

          .right {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .pagination-box {
              display: flex;
              flex-direction: row;
              align-items: center;

              .swiper-pagination-bullet.swiper-pagination-bullet-active {
                background: #000000;
              }

              .swiper-top-next {
                margin-left: 20px;
                cursor: pointer;
              }

              .swiper-top-prev {
                margin-right: 20px;
                cursor: pointer;
              }

              .swiper-top-next {
                margin-left: 20px;
                cursor: pointer;
              }

              .swiper-top-prev {
                margin-right: 20px;
                cursor: pointer;
              }
            }

            .more-box {
              display: flex;
              flex-direction: row;
              align-items: center;
              cursor: pointer;

              span {
                font-family: $font;
                font-size: 15px;
                font-weight: 600;
                font-style: normal;
                line-height: normal;
                text-transform: capitalize;
                color: #181a20;
              }

              img {
                width: 16px;
                height: 16px;
                margin-left: 10px;
              }
            }

            .btn-box {
              display: flex;
              flex-direction: row;

              button {
                border-radius: 6px;
                font-family: $font;
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                line-height: 28px;
                text-transform: capitalize;
                color: #ffffff;
                background: rgba(255, 255, 255, 0.07);

                &.first-child {
                  margin-right: 20px;
                }

                &.active {
                  border: 1px solid #181a20;
                  font-family: $font;
                  font-size: 14px;
                  font-weight: 500;
                  font-style: normal;
                  line-height: 28px;
                  color: #181a20;
                  background: #fff;
                }
              }
            }
          }
        }

        .wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-top: 83px;

          .switch-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 53px;
            height: 53px;
            border-radius: 50%;
            background: #ffffff;
            filter: drop-shadow(0px 10px 35px rgba(5, 16, 54, 0.1));
            cursor: pointer;

            svg {
              width: 14px;
              height: 14px;
            }

            &.swiper-agents-next {
              transform: rotate(180deg);
            }
          }

          .card-wrapper {
            display: flex;
            flex-direction: row;
            width: 1174px;
            height: 280px;

            .top-agents-swiper {
              display: flex;
              flex-direction: row;
              width: 99.7%;
              height: 280px;

              .top-agents-slide {
                display: flex;
                width: auto;
                height: auto;
              }
            }

            .top-agent-card {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 205px;
              height: 280px;

              img {
                width: 209px;
                height: 209px;
                border-radius: 50%;
                cursor: pointer;
                object-fit: cover;
              }

              strong {
                margin-top: 20px;
                font-family: $font;
                font-size: 15px;
                font-weight: 600;
                font-style: normal;
                line-height: normal;
                text-align: center;
                text-transform: capitalize;
                color: #181a20;
                cursor: pointer;
              }

              span {
                color: #181a20;
              }
            }
          }
        }
      }
    }
  }
}
